@font-face {
    font-family: title;
    src: url(../font/VarelaRound-Regular.ttf);
}
@font-face {
    font-family: pa;
    src: url(../font/ABeeZee-Regular.ttf);
}
/* .nav {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
} */
.navbar-brand {
    font-size: 30px;
}
.animate {
    /* padding: 10px; */
    color: white;
    display: inline-block;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid white;
    animation: popup 3s infinite, blinking 0.5s infinite;
    /* steps(?) */
}
.carousel-inner img {
    height: 350px;
    object-fit: cover;
}
nav {
    font-family: pa;
}
/* Product */
.title {
    font-family: title;
    text-align: center;
    margin: 40px 0px;
    position: relative;
}
.title::after {
    content: "";
    width: 70px;
    height: 5px;
    background-color: black;
    display: inline-block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.card {
    overflow: hidden;
    cursor: pointer;
}
.card .box-overlay {
    color: white;
    font-size: 15px;
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    bottom:0;
    width: 100%;
    height: 50%;
    transform: translateY(100%);
    transition: all 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* text-align: right; */
}
.card:hover .box-overlay {
    transform: translateY(0%);
}
/* review */
.review-box {
    background-color: #0000003A;
    border-radius: 20px;
}
.review img {
    border-radius: 50%;
}
.review-box img,
.review-box .review-message {
    padding: 20px;
    width: 50%;
}
/* .review-box p::before {
    content: "\f10d";
    font-family: "Font Awesome 5 Free",
    "Font Awesome 5 Pro",
    "Font Awesome 5 Brand",
    "Font Awesome 5 Regular";
    color: black;
    font-weight: 900px;
} */
.review-message p i {
    font-size: 40px;
    padding-right: 10px;
    /* position: absolute; */
}
/* .review-message p {
    position: relative;
} */
/* Footer */
footer {
    background-color: #0000003A;
}
@keyframes popup {
    from {width: 0%;}
    to {width: 100%;}
}
@keyframes blinking {
    from {border-right: 2px solid transparent;}
    to { border-right: 2px solid white;}
}